$theme-colors: (
  "primary": #FFFDFC,
  "secondary": #F9A826,
  "danger": #EB4A36
);

@import "../../node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');


$primary-color: rgb(20, 20, 20) !important;
$secondary-color: rgb(242, 242, 243) !important;
$font-stack : 'Montserrat' !important;

body {
  font-family: $font-stack;
  overflow-x: hidden;
  background:#2E38B8;
  // background: #6136FF;
}

img {
  width: 100%;
}

.wrapper {
  max-width: 1100px;
  margin: 0 auto;
}

nav {
  // background:rgb(5, 107, 224);
  transition: .3s all ease-in;

  .btnSignup {
    background: #fff;
    color: #2E38B8;
    &:hover {
      background: #F9A826;
      color: #FFFDFC;
    }
  }
}

.cornerWave {
  position: absolute;
  top: 150px;
  transform: rotate(10deg);
  right: 0;
  width: 20%;
  
}


#home {
  .blob5 {
  width: 26%;
  position: absolute;
  z-index: 0;
  top: 400px;
  left: -100px;
  z-index: -1;
  transform: rotate(47deg);
  }

.demo {
  position: absolute;
  height: 800px;
  background: #436DC1;
  width: 800px;
  top: 0;
  right: 0;
  border-radius: 7% 93% 0% 100% / 47% 0% 100% 53%;
}

  .showcaseRow {
  min-height: 80vh;
    
    img {
      width: 100%;
    }
}
.blob {
  max-width: 30%;
  position: absolute;
  top: -1rem;
  right: 3rem;
  opacity: .1;
  display: block;
}
svg {
  width: 100%;
  display: block;
  position: relative;
  // top: -10rem;
  background-image: rgb(51, 0, 255);
}
}

#why-choose-us {
  background: #F4F5FA;
  .box1 {
    img {
      width: 20%;
    }
  }
  img {
    width: 100%;
  }
  .rocket{
    position: relative;
  }
      .whiteBlock{
        position: absolute;
        width: 70px;
        height: 230px;
        background-color: rgb(255, 255, 255);
        left: 50%;
        top: 110%;
        border-radius: 50%;
        transform: translate(-50%, -50%);
      }
      .box3 {
        img {
          width: 20%;
        }
      }
}

#what-it-does {
  background: #fff;
}
