$theme-colors: (
  "primary": #FFFDFC,
  "secondary": #F9A826,
  "danger": #EB4A36
);

@import "../../node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import "./_footer.scss";


$primary-color: #EB4A36 !important;
$secondary-color: rgb(242, 242, 243) !important;
$font-stack : 'Montserrat' !important;

body {
  font-family: $font-stack;
  overflow-x: hidden;
  background-image: linear-gradient(to right bottom, #2e38b8, #363fba, #3d46bc, #444cbe, #4b53c0);
}

img {
  width: 100%;
}

.wrapper {
  max-width: 1100px;
  margin: 0 auto;
}

nav {
  // background:rgb(5, 107, 224);
  transition: .3s all ease-in;

  .navbar-brand{
    font-size: 1.6rem;
  }

  .btnSignup {
    background: #fff;
    color: #2E38B8;
    &:hover {
      background: #F9A826;
      color: #FFFDFC;
    }
  }
}

.saturn {
  position: absolute;
  top: 150px;
  transform: rotate(10deg);
  right: 0;
  width: 14%;
  
}


#home {
  
  .earth {
  width: 26%;
  position: absolute;
  z-index: 0;
  top: 400px;
  left: -100px;
  z-index: -1;
  transform: rotate(47deg);
  }

.demo {
  position: absolute;
  height: 800px;
  background: #436DC1;
  width: 800px;
  top: 0;
  right: 0;
  border-radius: 7% 93% 0% 100% / 47% 0% 100% 53%;
}

  .showcaseRow {
  min-height: 90vh;
    
    img {
      width: 100%;
    }
}
.blob {
  max-width: 30%;
  position: absolute;
  top: -1rem;
  right: 3rem;
  opacity: .1;
  display: block;
}
svg {
  width: 100%;
  display: block;
  position: relative;
  // top: -10rem;
  background-image: rgb(51, 0, 255);
}
}

#why-choose-us {
  background: #F4F5FA;
  .box1 {
    text-align: right;
    img {
      width: 20%;
    }
  }
  img {
    width: 100%;
  }
  .rocket{
    position: relative;
  }
      .whiteBlock{
        position: absolute;
        width: 70px;
        height: 230px;
        background-color: rgb(255, 255, 255);
        left: 50%;
        top: 110%;
        border-radius: 50%;
        transform: translate(-50%, -50%);
      }
      .box3 {
        text-align: left;
        img {
          width: 20%;
        }
      }
}

#what-it-does {
  background: #fff;
}

.student-teacher {
  background: #F4F5FA;

  img {
    width: 60%;
  }
}

.contact-us {
  background: rgb(255, 255, 255);
  
  .form-container {
    .input-group{
      width: 80%;
      margin: 0 auto;
      margin-top: 2rem;
    }
    .input-group-prepend {
      border: none;

      .input-group-text{
        border: none;
        background: transparent;
        border-top: 1px solid #F9A826;
        border-left: 1px solid #F9A826;
        border-bottom: 1px solid #F9A826;

        i{
          color: #F9A826;
        }
      }
    }
input {
        border: none;
        border-top: 1px solid #F9A826;
        border-right: 1px solid #F9A826;
        border-bottom: 1px solid #F9A826;
}
textarea{
  width: 80%;
  margin: 0 auto;
  border: 1px solid #F9A826;
  margin-top: 2rem;
}

button {
  margin: 0 auto;
  width: 80%;
  margin-top: 2rem;
}
  }
  
}

// About
#about {
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

// Footer
#footer {
  background: url('../images/footerBg.svg') no-repeat;
  background-size: cover;
  background-position: center;
}

// Student
#studentSection {
  // background: linear-gradient(#454DBF, (#0BBCED)), url('../images/797.jpg') no-repeat;
  // background-position: center;
  // background-size: cover;
}
#student {
  background: #4d56dd;
  padding: 3rem;
  border-radius: 16px;
  .student1{
   overflow:hidden;
  }
  .student2{
    overflow-y: scroll;
    height: 60vh;
  }
}

// Student Form
.studentForm, .register {
  input, textarea {
    background: #EAEEF2;
    border:none;
    border-radius: 16px;
  }
  .btn {
    color: #fff;
    background: $primary-color;
  }
}

// Student Card Parent
.cardParent:nth-child(odd){
  .card{
    background: #EAEEF2;
    border-radius: 16px;
  }
  .feedback {
    background: rgb(248, 179, 31);
  }
  .grade{
    background: rgb(206, 50, 50);
  }
}

.cardParent:nth-child(even) {
  .card{
    background: rgb(53, 53, 53);
    color: #fff;
    padding: 1rem;
    border-radius: 16px;
    .feedback {
      background: rgb(248, 179, 31);
    }
    .grade{
      background: rgb(206, 50, 50);
    }
  }
}

// Teacher
#teacher{
 .bgContainer {
   background: #4D56DD;
   border-radius: 16px;
 }
  .teacher1{
    overflow: hidden;
  }
  .teacher2{
    overflow-y: scroll;
    height: 60vh;
  }
}

.teacherForm {
  input, textarea {
    background: #EAEEF2;
    border:none;
    border-radius: 16px;
  }
  .submitBtn {
    color: #fff;
    background: $primary-color;
  }
  .editBtn {
    color: #FFFDFC;
    background: #F9A826;
    border-radius: 16px;
  }
}

// Register
.register{
  h2{
    color: #F9A826;
  }
  span{
    color: #EB4A36;
  }
  .registerCard {
    background: #4b53c0;
    padding: 1.6rem 2rem;
    border-radius: 16px;

    .btn {
      border-radius: 16px;
      border: none;
    }
  }
}

// Hamburger Menu
.icon-bar {
	width: 22px; 
	height: 2px;
	background-color: #B6B6B6;
	display: block;
	transition: all 0.2s;
	margin-top: 4px
}
 
.navbar-toggler {
  border: none;
  background: transparent !important;
}

.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}
 
.navbar-toggler .middle-bar {
  opacity: 0;
}
 
.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}
 
.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}
 
.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
}
 
.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}


// Scrollbar
::-webkit-scrollbar
{
  width: 12px;  /* for vertical scrollbars */
  height: 12px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb
{
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

// Media Quaries 
// Tablet 768px
@media only screen and (max-width: 768px) {
  nav{
    .navbar-brand{
      font-size: 1.3rem;
    }
    img{
      width: 30% !important;
    }
    ul .nav-item {
     margin-right: 1rem !important;
     font-size: 1.3rem;
    }
    .btn {
      // font-size: 1.3rem;
      // padding: 0 !important;
      // text-align: left;
      // border: none !important;
      // color: #1b1b1b !important;
      // margin: .4rem 0;
    }
  }
  #why-choose-us {
    background: #F4F5FA;
    .box1 {
      text-align: right;
      img {
        width: 30%;
      }
    }
    img {
      width: 100%;
    }
    .rocket{
      position: relative;
    }
        .whiteBlock{
          position: absolute;
          width: 70px;
          height: 230px;
          background-color: rgb(255, 255, 255);
          left: 50%;
          top: 90%;
          border-radius: 50%;
          transform: translate(-50%, -50%);
        }
        .box3 {
          text-align: left;
          img {
            width: 30%;
          }
        }
  }
}

// Phone 414px
@media only screen and (max-width: 414px) {
  #why-choose-us {
    h1{
      font-size: 2rem;
      padding: 1rem 0;
    }
    background: #F4F5FA;
  .box1 {
    text-align: center;
    img {
      width: 20%;
    }
  }
  img {
    width: 100%;
  }
      .box3 {
        text-align: center;
        img {
          width: 20%;
        }
      }
  }
  #footer{
    background: none;
    img{
      width: 20% !important;
    }
    p{
      font-size: 0.8rem;
    }
  }
}